@import 'bootstrap/dist/css/bootstrap.css';

body{
    background-color: bisque;
}

.cardbody{
    width: 250px;
    height: 300px;
    background-color: grey;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}
.card-body{
    background-color: ghostwhite;
}
.imgwelcome{
    width: 150px;
}
.cardcontact{
    
        box-shadow: 10px 10px 5px #0c0c0c;
      
}